.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  color: #051422;
}

.flights {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1rem;
}
.headings {
  font-weight: 700;
  color: #051422;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column: 1 / -1;
  background-color: #a5d8ff;
}
.flight {
  grid-column: 1 / -1;
  align-content: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.1);
}
.flightInfo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}
.kalkışSaati,
.varışSaati,
.fiyat {
  font-weight: 700;
}
.kalkışYeri,
.varışYeri {
  margin-top: 0.3rem;
  font-size: 12px;
}
.uçuşSüresi {
  font-size: 12px;
}
