.container {
  margin: 2rem auto;
  max-width: 800px;
}
.container h1 {
  margin-bottom: 2rem;
  color: #051422;
}
.flightListBoth {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}
.flightListOne {
  display: grid;
  grid-template-columns: 1fr;
}
.feedback {
  text-align: center;
  font-weight: 700;
}
@media (max-width: 850px) {
  .container {
    margin: 2rem;
  }
}
@media (max-width: 500px) {
  .container {
    margin: 1rem;
  }
}
@media (max-width: 400px) {
  .container {
    margin: 0.5rem;
  }
}
