.container {
  margin: 2rem 4rem;
}
.container h1 {
  margin-bottom: 2rem;
  color: #051422;
}
.flightListBoth {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}
.flightListOne {
  display: grid;
  grid-template-columns: 1fr;
}
