.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  color: #051422;
}
.heading p {
  font-weight: 700;
}
.heading span {
  font-weight: 500;
  font-size: 20px;
  color: #777;
}

.flights {
  list-style: none;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 2fr 2fr;
  row-gap: 1rem;
}
.headings {
  font-weight: 700;
  color: #051422;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 2fr 2fr;
  grid-column: 1 / -1;
  background-color: #a5d8ff;
}
.flight {
  grid-column: 1 / -1;
  align-content: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.1);
}
.flightInfo {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 2fr 2fr;
  align-items: center;
}
.departure-time,
.arrival-time,
.price {
  font-weight: 700;
}
.airport {
  margin-top: 0.3rem;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}
.duration {
  font-size: 8px;
  margin-top: 5px;
}
.duration span {
  font-weight: bold;
}
.details {
  display: flex;
  justify-content: flex-end;
}
.detail-button {
  display: inline-block;
  margin-top: 0.5rem;
  cursor: pointer;
  border: none;
  background-color: #fff;
  color: #1864ab;
}
.detail-button:hover {
  text-decoration: underline;
}
.code {
  font-size: 14px;
  font-weight: bold;
}
.city {
  font-size: 10px;
}
