.detail {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s;
  max-height: 0;
}
.detail.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  max-height: 140px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.flight-info {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.time {
  font-weight: 700;
}
.city {
  font-weight: 500;
  font-size: 12px;
}
.line {
  width: 1px;
  height: 100px;
  background-color: black;
}
.duration {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 10px;
}
.airport {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
}
.airline-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.code {
  font-size: 10px;
  font-weight: 500;
}
.airline {
  font-size: 12px;
  font-weight: 500;
}
